[run]
branch = True
source = apps

[report]
omit =
    */migrations/*
    */admin.py
    ./manage.py
    */wsgi.py
    */__init__.py
    */config/*
    */apps.py
    */serializers.py
    */urls.py
    */signals.py
    */tests
    */tasks.py
