[run]
branch = True
source =
    apps
    utils

[report]
omit =
    */migrations/*
    */admin.py
    ./manage.py
    */wsgi.py
    */__init__.py
    */config/*
    */apps.py
    */urls.py
    */tests/*
    */tasks.py
