SECRET_KEY='django-insecure-key'
EMAIL_PASS='email-password'
EMAIL_HOST_PASSWORD='email-password'
EMAIL_HOST_USER = 'email-user'
ALLOWED_HOSTS='allowed-hosts'
SIGNING_KEY='signing-key'
FE_DOMAIN='frontend-domain'
POSTGRES_DB='postgres-db'
POSTGRES_USER='postgres-user'
POSTGRES_PASSWORD='postgres-password'
POSTGRES_HOST='postgres-host'
POSTGRES_PORT='postgres-port'
DATABASE_URL='database-url'
ADMIN_EMAIL='admin-email'
AWS_ACCESS_KEY_ID='aws-access-key-id'
AWS_SECRET_ACCESS_KEY='aws-secret-access'
AWS_STORAGE_BUCKET_NAME='aws-storage-bucket-name'
AWS_S3_REGION_NAME='asw-s3-region-name'
DJANGO_ENV='django-env'
